.profile-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.profile-form {
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    justify-content: center;
}

.preview-img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

button {
    	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-top: 15px;
}

button:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
button:active {
	position:relative;
	top:1px;
}

.file-input-preview {
 	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    width: 270px;
}
.file-input-preview:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.file-input-preview:active {
	position:relative;
	top:1px;
}

.preview-img-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.user-name-input {
    margin-top: 20px;
}




